name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    uses: ./.github/workflows/lint.yml

  build:
    needs: [lint]
    uses: ./.github/workflows/build.yml

  test:
    needs: [lint, build]
    uses: ./.github/workflows/test.yml
